/* style.css */
.newAppointmentButton {
    float: right;
    margin-top: 10px;
    background-color: #243547 !important;
    color: #fff;
  }
  
  .appointmentTable {
    margin-top: 20px;
  }
  
  /* Additional styling for the table, adjust as needed */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  